@{
    ViewData["Title"] = "About page";
}
<h2 class="text-center shadow-lg">About Us</h2>
<div>
    <div>
        The field of computer science began in the 1840s with a woman named Ada Lovelace, who wrote the algorithm for a computer machine called the Analytical Engine that up to that point had only existed on paper. Computer science is the study of computation, information, and automation. Computer science spans theoretical disciplines (such as algorithms, theory of computation, and information theory) to applied disciplines (including the design and implementation of hardware and software).
    </div>
    <br />
    <h4>Vision</h4>
    <div> To provide an extensive library of books in digital format for free to every one around the world. </div>
    <br />
    <h4>Mission</h4>
    <div>To lead by pushing the boundaries of scholarly publishing in active partnership with the Computer Science community and aligned mission to advance knowledge in science, technology, the arts, and other areas of scholarship that will best serve the nation and the world in the twenty-first century.</div>
    <br />
    <h4>Contact Details</h4>
    <table class="table table-bordered">
        <tr>
            <td>Mr Ntsako Lubisi</td>
            <td>067 153 0088</td>
        </tr>
    </table>
    <br />
</div> 