@{
    ViewBag.Title = "Computer Science Books";
}
<div>
 
    <!-- Title-->
    <div id="Title">
        <div class="bg-secondary border border-dark text-light text-sm-start text-md-end text-lg-center mt-2 pt-4 pb-4 display-3 rounded-4">Computer Science Books</div>
    </div>
    <br />
    <!-- Title end -->
    <!-- **** Definition **** -->
    <div id="Definition">
        <h3 class="fw-bold">What is Computer Science?</h3>
        <div>
            Computer science is the study of computation, information, and automation. Computer science focuses on the development and testing of software and software systems.
            Computer science, the study of computers and computing, including their theoretical and algorithmic foundations, hardware and software, and their uses for processing information. The    discipline of computer science includes the study of algorithms and data structures, computer and network design, modeling data and information processes, and artificial intelligence..
        </div>

    </div> <!-- Definition end -->
    <br />
    <!-- **** Types of Computer Science Books **** -->
    <div id="TypesOfBooks">
        <h4 class="fw-bold">Types of Computer Science Books</h4>
        <div>
            <div>
                <div>
                    <!--Programming book image goes here-->
                    <img src="~/images/programmingbook.jpg" class="img-thumbnail" width="100px" height="80px" />
                </div>
                <div>
                    <h5 class="fst-italic">Programming books</h5>

                    <ul>
                        <li>The Pragmatic Programmer: From Journeyman to Master Andy Hunt</li>
                        <li>The Pragmatic Programmer: From Journeyman to Master</li>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <!--Security book image goes here-->
                    <img src="~/images/securitybook.jpg" class="img-thumbnail" width="100px" height="80px" />
                </div>
                <div>
                    <h5 class="fst-italic">Security books</h5>

                    <ul>
                        <li>Hacking: A Beginners' Guide to Computer Hacking</li>
                        <li>Basic Security</li>
                    </ul>
                </div>
            </div>
        </div> <!-- TypesOfBooks end -->
    </div>
</div>
