@{
    ViewData["Title"] = "Artificial page";
}
<h2 class="text-center shadow-lg">Artificial Intelligence</h2>
<div>
    <h3>Narrow AI</h3>
    <div>
        Narrow AI, also called as Weak AI, focuses on one narrow task and cannot perform beyond its limitations. It targets a single subset of cognitive abilities and advances in that spectrum.
    </div>
    <br />
    <h3>Super AI</h3>
    <div>
        Super AI surpasses human intelligence and can perform any task better than a human. The concept of artificial superintelligence sees AI evolved to be so akin to human sentiments and experiences that it doesn't merely understand them; it also evokes emotions, needs, beliefs, and desires of its own.
    </div>
    <br />
    <h3>Texbooks</h3>
    <div>
        <ul class="list-group">
            <li class="list-group-item">Human Compatible</li>
            <li class="list-group-item">Artificial Intelligence: A Modern Approach</li>
            <li class="list-group-item">Superintelligence: Paths, Dangers, Strategies</li>
        </ul>
    </div>
    <br />
</div> 