@{
    ViewData["Title"] = "Machine page";
}
<h2 class="text-center shadow-lg">Machine Learning</h2>
<div>

    <h3>Supervised Learning</h3>
    <div>
        Supervised learning is a type of machine learning that uses labeled data to train machine learning models. In labeled data, the output is already known. The model just needs to map the inputs to the respective outputs.Some of the most popularly used supervised learning algorithms are: Linear Regression, Logistic & Regression.
    </div>
    <br />
    <h3>Unsupervised Learning</h3>
    <div>
        Unsupervised learning is a type of machine learning that uses unlabeled data to train machines. Unlabeled data doesn’t have a fixed output variable. The model learns from the data, discovers the patterns and features in the data, and returns the output. Some of the common examples of unsupervised learning are: K Means Clusterin, Hierarchical Clustering & DBSCA.
    </div>
    <br />
    <h3>Texbooks</h3>
    <div>
        <ul class="list-group">
            <li class="list-group-item">Artificial Intelligence Engines: A Tutorial Introduction to the Mathematics of Deep Learning</li>
            <li class="list-group-item">Artificial Intelligence for Dummies</li>
            <li class="list-group-item">Python: Beginners’ Guide to Artificial Intelligence</li>
        </ul>
    </div>
    <br />
</div>
 