@{
    ViewData["Title"] = "Programming page";
}
<h2 class="text-center shadow-lg">Programming</h2>
<div>

    <h3>Procedural programming languages.</h3>
    <div>
        A procedural language follows a sequence of statements or commands in order to achieve a desired output.Each series of steps is called a procedure, and a program written in one of these languages will have one or more procedures within it. Common examples of procedural languages include: C and C++, Java, Pascal & BASIC.
    </div>
    <br />
    <h3>Object-oriented programming languages (OOP)</h3>
    <div>
        This type of language treats a program as a group of objects composed of data and program elements, known as attributes and methods. Objects can be reused within a program or in other programs. This makes it a popular language type for complex programs, as code is easier to reuse and scale. Some common object-oriented languages include:Java, Python, PHP, C++ & Rub.
    </div>
    <br />
    <h3>Texbooks</h3>
    <div>
        <ul class="list-group">
            <li class="list-group-item">Clean Code</li>
            <li class="list-group-item">Code Complete</li>
            <li class="list-group-item">Programming Pearls</li>
        </ul>
    </div>
    <br />
</div> 