@{
    ViewData["Title"] = "Security page";
}
<h2 class="text-center shadow-lg">Security</h2>
<div>

    <h3>Application Security</h3>
    <div>
        When security features are introduced in the primary stage of the development process, that is one it's known as application security.
    </div>
    <br />
    <h3>Internet security</h3>
    <div>
        Internet security refers to staying safe when online. Learn about privacy and security on the internet, types of internet attacks & how to protect your data .
    </div>
    <br />
    <h3>Texbooks</h3>
    <div>
        <ul class="list-group">
            <li class="list-group-item">Social Engineering: The Science of Human Hacking</li>
            <li class="list-group-item">Ghost In The Wires: My Adventures as the World's Most Wanted Hacker</li>
            <li class="list-group-item">Hacking: The Art of Exploitation, 2nd Edition</li>
        </ul>
    </div>
    <br />
</div> 