@{
    ViewData["Title"] = "Artificial page";
}
<h2 class="text-center shadow-lg">Software Engineering</h2>
<div>
    <h3>Software Engineer</h3>
    <div>
        These professionals, also known as “ethical” or “white hat” hackers, test and analyze software systems to identify any security.
    </div>
    <br />
    <h3> Backend engineer</h3>
    <div>
        The backend engineer is responsible for designing the system's core computational and business logic, servers, databases, API, and API testing.
    </div>
    <br />
    <h3>Texbooks</h3>
    <div>
        <ul class="list-group">
            <li class="list-group-item">Patterns of Enterprise Application Architecture</li>
            <li class="list-group-item">Programming Pearls</li>
            <li class="list-group-item">Test-Driven Development</li>
        </ul>
    </div>
    <br />
</div> 