@model Book

@{
    ViewData["Title"] = "Add Book page";
}

<h2>@ViewData["Title"]</h2>

<hr />
<form asp-action="Add" method="post">
    <partial name="_AddEditBookPartialView" model="@Model" />
    <div>
        <br />
        <input type="submit" value="Save" class="btn btn-primary"/>
        <button asp-action="List" asp-controller="Book"
                class="btn btn-outline-secondary">
            Cancel
        </button>
    </div>
</form>